
html, body
{
    margin: 0px; padding: 0px;
}
.header {
    background-color: #1F2937;
}
.htop, .hlinks, .hcontent, .himg, .himgcontainer{
    display: flex;
}
.logo{
    font-size: 28px;
    color: #F9FAF8;
    font-weight: bold;
}
.htop{
    align-items: center;
    justify-content: space-around;
}
.hlinks{
    gap: 16px;
    padding: 0px;
}
.hcontent{
    align-items: center;
    justify-content: space-around;
}
.htext, .himgcontainer{
    flex: 1;
}
.hhero{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}
.hpara{
    font-size: 18px;
    color: #E5E7EB;
}
.himgcontainer{
    justify-content: center;
}
.himg{
    width: 300px;
    height: 150px;
}
a{
    text-decoration: none;
    color: #E5E7EB;
}